{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    <h1>Hello</h1>
    {% if is_granted('ROLE_USER') %}
        Hello "{{ app.security.token.username }}".<br />
        <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
    {% else %}
        Your a not logged. Please <a href="{{ path('login') }}">{{ 'connect'|trans }}</a>
    {% endif %}
{% endblock %}
