{% if active is not defined %}
    {% set active = null %}
{% endif %}

<div style="z-index: 5;" class="topbar-wrapper">
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="{{ path('homepage') }}">{{ 'Silex'|trans }}</a></h3>
                <ul class="nav">
                    <li class="active"><a href="{{ path('homepage') }}">{{ 'Homepage'|trans }}</a></li>
                    <li><a href="{{ path('page_with_cache') }}">Cache sample</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav secondary-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">{{ 'Your account'|trans }}</a>
                        <ul class="dropdown-menu">
                            {% if app.session.get('user') %}
                                <li><a href="#">{{ 'Logout'|trans }}</a></li>
                            {% else %}
                                <li><a href="#">{{ 'Login'|trans }}</a></li>
                                <li><a href="#">{{ 'Register'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
</div>
